= render 'shared/stages_navigation'

= render 'shared/timetable'

- if @standings
  %table#standings
    %thead
      %th #
      %th Mannschaft
      %th Spiele
      %th +
      %th -
      %th Δ
      %th .
    %tbody
      - @standings.order(:rank).each do |row|
        %tr
          %td= row.rank
          %td= country_with_flag(row.team_name)
          %td= row.matches
          %td= row.shot
          %td= row.got
          %td= row.diff
          %td= row.points
