%ul#cup_nav
  %li
    = link_to @cup.name, root_path
  %li
    %ul#stages_nav
      - @stages.each do |stage|
        %li{ :class => stage == current_stage && "current" }
          = link_to stage.name, stage_path(stage.translated)
  -if current_stage && current_match && @stage_matches
    %li
      %ul#in_stage_nav
        - @stage_matches.each do |match|
          %li{ :class => match.id.to_s == @match.id.to_s && "current" }
            = link_to "#{match.home.country} -- #{match.guest.country}", match
