= render 'shared/stages_navigation'

= render 'match_headline'

= simple_form_for @match.becomes(Match) do |f|
  = f.input :home_score, input_html: { maxlength: 1 }
  = f.input :guest_score, input_html: { maxlength: 1 }
  = f.button :submit
