= render 'stages_navigation'

-#%table#matches
  %thead
    %th Datum
    %th
    %th
    %th
    %th
    %th
    %th
  %tbody
    - @matches.each do |match|
      - present match do |match_presenter|
        %tr
          %td= match_presenter.home
          %td= match_presenter.guest
        -#%tr
          %td
            = match.date.strftime("%d.%m")
            = match.date.strftime("%H:%M")
          %td{ :class => match.winner == match.home && "winner" }
            = link_to_country(match.home.country, "right")
          %td= match.home_score || "•"
          %td= ":"
          %td= match.guest_score || "•"
          %td{ :class => match.winner == match.guest && "winner" }
            = link_to_country(match.guest.country)
          %td= link_to "Details", match_path(match)

- if @standings
  %table#standings
    %thead
      %th #
      %th T
      %th +
      %th -
      %th Δ
      %th .
    %tbody
      - @standings.order(:rank).each do |row|
        %tr
          %td= row.rank
          %td= row.team_name
          %td= row.shot
          %td= row.got
          %td= row.diff
          %td= row.points
