!!!
%html
  %head
    %title Tippspiel
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #nav
      %ul
        - if user_signed_in?
          %li= link_to "Ausloggen", destroy_user_session_path, method: :delete
          %li= "Eingeloggt als #{current_user.email}"
        - else
          %li= link_to "Einloggen", new_user_session_path 
          %li= link_to "Registrieren", new_user_registration_path
    #flash
      - if flash[:notice]
        = notice
      - if flash[:alert]
        = alert
    = yield
